@model WebApplication1.ViewModels.StudentsIndexViewModel
@{
    //ViewBag.Title = "Index";
    ViewBag.Title = "Products";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <label>Filter by category:</label>
        @*@Html.DropDownList("Category", "All")*@
        @Html.DropDownListFor(vm => vm.Campus, Model.CatFilterItems, "All");
        <input type="submit" value="Filter" />
        @*<input type="hidden" name="Search" id="Search" value="@ViewBag.Search" />*@
        <input type="hidden" name="Search" id="Search" value="@Model.Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Campus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.First().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.First().Address)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Campus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
            }
                </table>
